Source: pwgallery
Section: graphics
Priority: optional
Maintainer: Tuomas Kulve <tuomas@kulve.fi>
Build-Depends: debhelper (>= 4.0.0), libmagick9-dev, libgtk2.0-dev, libglade2-dev, libgnomevfs2-dev, libglib2.0-dev, libxml2-dev
Standards-Version: 3.6.0

Package: pwgallery
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Penguin's Web Gallery
 PWGallery is used to create image galleries for
 WWW use. It creates an image gallery from an HTML template
 and fills in the photo descriptions.
